/* Base Styles  ------------------------------------------------------------------------------------------------ */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

h1 {
    color: black;
    flex-grow: 1;
}

/* Layout Styles ------------------------------------------------------------------------------------------------- */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 98%;
    width: 98%;
    margin: 0 auto;
    box-sizing: border-box; /* Include padding in the element's width */
    position: relative; /* Ensure absolute positioning works within the container */
}

.Title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    position: absolute; /* Position it absolutely */
    left: 50%; /* Move it to the center */
    transform: translateX(-50%); /* Center it horizontally */
}

.left-header, .right-header {
    display: flex;
    align-items: center;
}

.left-header {
    margin-right: auto;
}

.right-header {
    margin-left: auto;
}

.divider {
    border: 1px solid #000;
    width: 98%;
    max-width: 98%;
    margin: 0 auto;
}
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.sentence-seg {
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

/* Component Styles  -------------------------------------------------------------------------------------------------*/ 
.gallery img {
    margin: 10px;
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 2px solid darkslategrey;
    border-radius: 5px;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}

.letter-textarea {
    width: 35px;
    height: 50px;
    padding: 1px;
    border: 1px solid #000;
    box-sizing: border-box;
    resize: none;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-right: 5px;
}

.space {
    background-color: transparent;
    color: transparent;
    display: inline-block;
    width: 35px;
    height: 50px;
}

.SubmitButton {
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.SubmitButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.SubmitButton:hover:enabled {
    background-color: #45a549;
}

.reset-button {
    background-color: #f44336;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 20px;
}

.reset-button:hover {
    background-color: #d32f2f;
}

.complete-button {
    background-color: #008CBA;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.complete-button:hover {
    background-color: #005f73;
}

.HelpBtn {
    background-color: goldenrod;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.Help-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Adjust the width to 90% */
    max-width: 400px; /* Set a max-width of 400px */
}

.closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.Help-modal-title {
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#lives-counter {
    font-size: 25px;
    color: #e74c3c; /* Red color for hearts */
    margin-right: 20px;
    display: flex;
    align-items: center;
}

#lives-counter .fa-heart {
    margin: 0 2px;
}

.game-over-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.game-over-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Adjust the width to 90% */
    max-width: 400px; /* Set a max-width of 400px */
}

/* Utility Classes ------------------------------------------------------------------------------------------------- */
.invalid-input {
    border: 2px solid red;
    background-color: rgb(255, 203, 203);
}

.valid-input {
    border: 2px solid green;
    background-color: rgb(195, 255, 195);
    color: black;
}

.letter-textarea.valid-input:disabled {
    color: black;
    background-color: rgb(195, 255, 195);
}

.word-span {
    display: flex;
}

.shake {
    animation: shake 0.3s;
}

/* Keyframes ------------------------------------------------------------------------------------------------- */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

/* Media Queries ------------------------------------------------------------------------------------------------- */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column; /* Stack the header items vertically */
        align-items: center; /* Center-align the items */
        max-width: 100%;
        width: 100%;
    }

    .left-header, .right-header {
        margin: 10px 0;
        justify-content: center; /* Center align items in smaller screens */
    }

    .Title {
        font-size: 35px;
        position: static;
        transform: none;
    }

    .Help-content, .game-over-modal-content {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .header-container {
        flex-direction: column; /* Keep the header items in a column */
        align-items: center;
        padding: 5px;
        width: 100%;
    }

    .left-header {
        flex-direction: column;
        align-items: center;
        margin: 10px;
        justify-content: center; /* Center align items in smaller screens */
    }
    .right-header {
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Center align items in smaller screens */
    }

    .Title {
        font-size: 30px;
        position: static;
        transform: none;
    }

    .Help-content, .game-over-modal-content {
        width: 70%;
    }

    .SubmitButton {
        width: 100%;
        padding: 15px;
    }

    .reset-button, .HelpBtn {
        width: 100%;
        padding: 15px;
        margin: 5px 0;
    }

    #lives-counter {
        font-size: 18px;
        width: 90%;
    }
}