body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

h1 {
    color: black;
    padding: 20px 0;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.gallery img {
    margin: 10px;
    width: 300px;
    height: auto;
    border: 2px solid darkslategrey;
    border-radius: 5px;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}
.letter-textarea {
    width: 35px;  /* Width of the square */
    height: 50px; /* Height of the square */
    padding: 1px; 
    border: 1px solid #000; /* Border of the textarea */
    box-sizing: border-box; /* Ensures padding and border are included in the total width and height */
    resize: none; /* Prevents the textarea from being resized */
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-right: 5px;
}
.sentence-seg {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center; /* Centers elements horizontally */
    align-items: center; /* Centers elements vertically */
}

.space {
    background-color: transparent;
    color: transparent; /* Ensure text is also invisible */
    display: inline-block; /* You can change this to block if needed */
    width: 35px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
}
.SubmitButton {
    background-color: #4CAF50; /* Background color */
    color: white;              /* Text color */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Font family */
    font-size: 20px;           /* Font size */
    padding: 10px 20px;        /* Padding */
    border: none;              /* Remove border */
    border-radius: 5px;        /* Rounded corners */
    cursor: pointer;           /* Cursor on hover */
    margin-top: 15px;
}

.SubmitButton:hover {
    background-color: #45a549; /* Background color on hover */
}

.Title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 1px;
}

.invalid-input {
    border: 2px solid red;
}
.valid-input {
    border: 2px solid green;
}
.word-span {
    display: flex;
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.3s;
}
